@import '../../assets/styles/vars', '../../assets/styles/funtions', '../../assets/styles/colors';
$border-white: 1px;
$border-color: $white;
$border-type: solid;

.main-header {
  padding: $_paddingContent;
  transition: all $genera_time_transition;

  &.bg-social .options button.active{
    color: $social;
  }
}
.options {
  margin: calculate-rem(15px) auto;
  display: flex;
  width: 400px;
  border-radius: 40px;
  overflow: hidden;
  border: $border-white $border-type $white;

  button {
    text-align: center;
    flex: 1;
    padding: 13px 10px;
    font-size: calculate-rem(13px);
    cursor: pointer;
    transition: all $genera_time_transition;

    &:first-child {
      border-right: $border-white $border-type $white;
    }

    &.active {
      background-color: $white;
      color: $physical;
    }
  }
}

.sub-title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: calculate-rem(18px);

  &:before {
    content: '';
    width: 50%;
    height: 1px;
    background-color: $white;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-bottom: 20px;
  }
}

.description {
  font-weight: 300;
  font-size: calculate-rem(14px);
}

@media screen and (max-width: 600px) {
  .options {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .options {
    display: block;
    border-radius: 0;

    button {
      flex: none;
      display: block;
      width: 100%;
      &:first-child {
        border-right: none;
      }
    }
  }
}

