
<header class="main-header text-center color-white bg-{{activeArea}}">
  <h1>Areas</h1>

  <div class="container options">
    <button type="button" ng-class="{'active': activeArea === 'physical'}" ng-click="$ctrl.changeArea('physical')">Physical</button>
    <button type="button" ng-class="{'active': activeArea === 'social'}" ng-click="$ctrl.changeArea('social')">Social & emotional</button>
  </div>

  <h2 class="sub-title">Skill: {{areas[activeArea].title}}</h2>

  <p class="description">{{areas[activeArea].description}}</p>

</header>
