$physical: #1FADDF;
$silver: #F8F8F8;
$social:#D43571;
$buttons: #75B753;
$white: white;

$colors: (
  white: $white,
  physical: $physical,
  social: $social,
  buttons: $buttons,
  silver: $silver
);
