// colors
@each $key, $val in $colors {
  .color-#{$key} {
    color: $val;
  }

  .bg-#{$key} {
    background-color: $val;
  }
}

// text aling
@each $val in (left, right, center, justify) {
  .text-#{$val} {
    text-align: $val;
  }
}
