@import '_vars', '_colors', '_helpers', '_funtions';

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  font-family: Helvetica;
  font-size: 16px;
}

html {
  font-size: $font-size-default;
}

html,
body {
  width: 100%;
}

h1 {
  font-size: calculate-rem(17px);
}

b,
strong {
  font-weight: bold;
}

hr {
  border: 0;
  display: block;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

ul {
  list-style-position: inside;
}

strong {
  font-weight: bold;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

button,
input,
input,
optgroup,
select,
textarea {
  outline: none;
  color: $white;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
  height: 0;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.clearfix,
.clearfix {

  zoom: 1;

  &::after,
  &::before {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}
