@import '../../assets/styles/vars', '../../assets/styles/funtions', '../../assets/styles/colors';

$ammout_darken: 50;
$fsize_header: 14px;
$w_btn: 130px;

.main-container {
  margin: 40px 50px;
  padding-bottom: 10px;
}

.content-milestones {
  padding: 0 $_paddingContent;
}

.milestone {
  position: relative;
  border-bottom: 1px solid $silver;
  padding: 20px 0;

  &:last-of-type {
    border-bottom-color: transparent;
  }

  header {
    width: calc(100% - #{calculate-rem($w_btn + 40px)});

    .title {
      color: darken($silver, $ammout_darken);
      font-size: calculate-rem($fsize_header);
    }
    .description {
      color: darken($silver, $ammout_darken - 10);
      font-size: calculate-rem($fsize_header - 2px);
    }
  }
}

.btn {
  padding: 10px 5px;
  border-radius: 50px;
  color: darken($silver, $ammout_darken);
  background-color: $silver;
  width: calculate-rem($w_btn);
  transition: all $genera_time_transition;

  &:not(.btn-next) {
    font-size: calculate-rem(13px);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }


  &.uncompleted {
    color: $buttons;
  }

  &.completed {
    color: $white;
    background-color: $buttons;
  }

  &.btn-next {
    display: block;
    margin: 50px auto;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .milestone {

    header {
      width: 100%;
      text-align: center;

      .title {
        margin-bottom: 10px;
      }
    }
  }

  .btn {
    &:not(.btn-next) {
      position: relative;
      right: auto;
      top: auto;
      transform: none;
      display: block;
      width: 100%;
      margin-top: 20px;
    }

    &.btn-next {
      margin: auto;
      width: calc(100% - #{$_paddingContent} * 2);
    }
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    margin: auto;
  }
}