<div class="main-container bg-white">

  <header-component></header-component>

  <div class="container content-milestones">
    <div class="milestone" ng-repeat="milestone in areas[activeArea].milestones">
      <header>
        <h2 class="title">{{milestone.title}}</h2>
        <p class="description">{{milestone.description}}</p>
      </header>
      <button
        class="btn {{$ctrl.get_status_name(milestone.status).toLowerCase().replace(' ', '-')}}"
        type="button"
        ng-click="$ctrl.changeStatusActivity(milestone)">
          {{$ctrl.get_status_name(milestone.status)}}
        </button>
    </div>
  </div>

  <button
    class="btn completed btn-next"
    type="button" ng-click="$ctrl.next('social')">
      {{activeArea === 'physical' ? 'Next' : 'Finish assessment'}}
    </button>

</div>